.avatar-audio-container {
  .avatar-div {
    text-align: center;
    .avatar-content {
      background: white;
      padding: 30px 20px;
      border-radius: 25px;
      margin-bottom: 40px;
      box-shadow: 1px 1px 8px 4px #80808085;
      .avatar-header {
        .avatar-title {
          color: #e60f0d;
          text-align: center;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 30px;
        }
        img {
          border-radius: 20px;
        }
        .image-div {
          margin: auto;
          text-align: center;
          position: relative;
          img {
            border-radius: 20px;
            margin: auto;
            width: 400px;
            height: 292px;
          }
          .record-label {
            position: absolute;
            bottom: 24px;
            color: white;
            font-weight: 600;
            font-size: 18px;
            margin: auto;
            left: 0;
            right: 0;
          }
          .record-desktop {
            @media screen and (max-width: 425px) {
              display: none;
            }
          }
          .record-mobile {
            display: none;
            left: 20%;
            @media screen and (max-width: 425px) {
              display: block;
            }
          }
        }
        .image-div-desktop {
          display: block;
          @media screen and (max-width: 425px) {
            display: none;
          }
        }
        .image-div-mobile {
          display: none;
          @media screen and (max-width: 425px) {
            display: block;
          }
        }
        .avatarContainer {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 20px;
          background: #989898;
          border-radius: 25px;
          width: 400px;
          margin-left: auto;
          max-width: 90%;
          .avatar-div {
            height: 90px;
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
            }
            &.selectedAvatar {
              background: #6b1576;
              border-radius: 20px;
            }
          }
        }
      }

      .build-avatar {
        color: #6c1677;
        font-weight: 700;
        text-align: center;
        margin: 20px 0;
        margin-top: 55px;
        font-size: 18px;

        .tags {
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: #9f3aaed6;
          }
        }
        .seperator {
          margin: 0 25px;
        }
      }
      .record-time {
        text-align: center;
        font-size: 18px;
        color: #71167d;
        font-weight: 500;
        margin: 30px 0;
      }
      .buttons-div {
        margin-top: 10px;
        button {
          border: none;
          background: #6b1576;
          width: 200px;
          padding: 15px 0;
          border-radius: 20px;
          color: white;
          font-weight: 600;
          margin: 20px 0;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: #9828a7;
          }
        }
      }
      .terms-conditions {
        margin: 20px 0;
        .terms-div {
          display: flex;
          justify-content: center;
          align-items: center;
          .error {
            svg {
              color: #eb2e2e;
            }
          }
          .agreement-div {
            font-weight: 500;
            color: #70167a;
            span {
              color: #fea01a;
            }
          }
        }
        .error-span {
          font-size: 12px;
          color: red;
        }
      }
      .upload-button {
        border: none;
        background: #fea01a;
        width: 210px;
        padding: 15px 0;
        border-radius: 25px;
        color: white;
        font-weight: 700;
        margin: 20px 0;
        cursor: pointer;
        margin-bottom: 45px;
      }
    }
  }

  .saved-jadu-container {
    background: #6f177b;
    border-radius: 40px 40px 0 0;
    padding: 20px 0 20px 0;
    margin-top: 20px;
    .saved-header {
      font-size: 20px;
      color: white;
      font-weight: 700;
      margin-bottom: 23px;
    }
    svg {
      color: white;
      font-size: 40px;
      cursor: pointer;
    }
    .expert-div {
      margin: 0 9px;
      img {
        border-radius: 20px;
      }
      p {
        color: white;
        font-weight: 500;
        margin: 10px 0;
      }
    }
  }
}
