.home-container {
  .home-content {
    padding: 40px;
    width: 70%;
    margin: 2% auto;
    @media screen and (max-width: 1440px) {
      width: fit-content;
      margin: 0;
    }
    .home-banner-container {
      // box-shadow: -2px -1px 9px 0px #808080a6;
      border: 1px solid #dbd5d5;
      background-color: #ffff;
      border-radius: 20px;
      width: 97%;
      margin: auto;
      margin-bottom: 35px;
      margin-top: 37px;
      .home-banner {
        img {
          border-radius: 20px 20px 0 0;
          width: 100%;
          padding-top: 13px;
        }
      }
    }
    .banner-footer {
      text-align: center;
      padding: 30px 0;
      .jadu-title {
        font-size: 40px;
        font-weight: 700;
        margin: auto;
        margin-bottom: 23px;
        display: flex;
        justify-content: center;
        width: fit-content;
        position: relative;
        .do-span {
          color: #6f177b;
          margin-right: 10px;
        }
        .jadu-span {
          color: #4d4ab3;
        }
        .arrow-right-icon {
          font-size: 61px;
          position: absolute;
          right: -24%;
          top: -20px;
          color: #6f177b;
        }
      }
      .footer-content {
        padding: 0 10px;
        .upper-content {
          color: #71177b;
          font-weight: 700;
        }
        .bottom-content {
          color: #6f1877;
          margin: 10px 0;
          // font-weight: 700;
        }
      }
    }
    .jadu-options-container {
      .options-container {
        position: relative;
        margin-top: 11px;
      }
      .show-more {
        position: absolute;
        text-align: center;
        top: -59px;

        left: 0;
        right: 0;
        cursor: pointer;
        margin: auto;
        svg {
          font-size: 80px;
          color: #6b1576;
        }
        @media only screen and (max-width: 900px) {
          display: none;
        }
      }
      .show-less {
        text-align: center;
        cursor: pointer;
        position: absolute;
        text-align: center;
        // top: 0;
        bottom: -97px;
        left: 0;
        right: 0;
        cursor: pointer;
        margin: auto;
        svg {
          font-size: 80px;
          color: #6b1576;
        }
        @media only screen and (max-width: 900px) {
          display: none;
        }
      }
      .option-div {
        background: white;
        border-radius: 20px;
        padding: 25px 15px;
        margin: 25px auto;
        width: 88%;
        // box-shadow: -2px -1px 9px 0px #808080a6;
        border: 1px solid #dbd5d5;
        margin-bottom: 9px;

        .clock-video-div {
          position: relative;
          svg {
            font-size: 51px;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            color: black;
            @media only screen and (max-width: 599px) {
              font-size: 84px;
            }
          }
          .lock-image {
            height: 90px;
            width: 123px;
            opacity: 0.6;
            @media only screen and (max-width: 599px) {
              width: auto;
              height: auto;
            }
          }
        }
        img {
          width: 125px;
          border-radius: 10px;
        }
        .option-tab {
          text-align: center;
          // margin-top: 25px;
          .sponsor-div {
            position: relative;
            position: relative;
            .option {
              max-height: 58px;
              display: flex;
              align-items: center;
              padding-left: 60px;
            }
            img {
              position: absolute;
              // top: 29px;
              // top: -4px;
              left: 10px;
              border-radius: 50%;
              width: 55px;
              position: absolute;
              left: -1px;
              /* border-radius: 50%; */
              width: 81px;
              border-radius: 50px 0px 0px 50px;
              height: 100%;
            }
          }
          .option {
            cursor: pointer;
            background: #6f177b;
            padding: 15px 20px;
            border-radius: 50px;
            text-align: center;
            display: flex;
            align-items: center;
            .title {
              display: inline-block;
              overflow-wrap: break-word;
              width: 95%;
              color: #ffff;
              font-weight: 700;
              text-transform: uppercase;
              font-size: 14px;
            }
            .icon-span {
              svg {
                color: white;
              }
            }
          }
          @media only screen and (max-width: 599px) {
            margin-top: 25px;
          }
        }
        .options-situation {
          margin: 20px 0;
          color: #a464de;
          text-align: center;
        }
      }
      .view-more {
        color: #fea01c;
        cursor: pointer;
        text-align: center;
        font-weight: 700;
        margin: 20px;
        display: none;
        @media only screen and (max-width: 900px) {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 598px) {
  .home-container {
    .home-content {
      .jadu-options-container {
        .option-div {
          img {
            width: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .home-container {
    .home-content {
      padding: 40px 20px;
      .jadu-options-container {
        .option-div {
          margin: 25px 0;
          img {
            width: auto;
          }
        }
      }
    }
  }
}
