.record-video-container {
  padding: 20px;
  text-align: center;
  padding-bottom: 0;
  .record-title {
    color: #e60f0d;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .video-div {
    text-align: center;
    .record-div {
      width: 439px;
      margin: auto;
      /* background: #6b1576; */
      padding: 28px 20px;
      max-width: 100%;
      border-radius: 20px;
      @media only screen and (max-width: 425px) {
        width: auto;
      }
      img {
        width: 100%;
        margin: auto;
        border-radius: 20px;
      }
      .desktop {
        color: white;
        font-size: 24px;
        font-weight: 600;
        @media only screen and (max-width: 425px) {
          display: none;
        }
      }
      .mobile {
        color: white;
        font-size: 24px;
        font-weight: 600;
        display: none;
        @media only screen and (max-width: 425px) {
          display: block;
        }
      }
    }
  }

  .allowed-time {
    color: #6f177b;
    font-weight: 600;
    margin: 40px 0;
    font-size: 18px;
  }
  .record-buttons {
    border: none;
    background: #6b1576;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    width: 205px;
    padding: 20px 0;
    cursor: pointer;
    margin: 20px 0;
    transition: all 0.3s linear;
    &:hover {
      background-color: #9828a7;
    }
    @media only screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .terms-conditions {
    margin: 20px 0;
    .terms-div {
      display: flex;
      justify-content: center;
      align-items: center;
      .error {
        svg {
          color: #eb2e2e;
        }
      }
      .agreement-div {
        font-weight: 500;
        color: #70167a;
        span {
          color: #fea01a;
        }
      }
    }
    .error-span {
      font-size: 12px;
      color: red;
    }
  }
  .upload-button {
    border: none;
    background: #fea01a;
    width: 210px;
    padding: 15px 0;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    margin: 20px 0;
    cursor: pointer;
    margin-bottom: 45px;
  }
  .saved-jadu-container {
    background: #6f177b;
    border-radius: 40px 40px 0 0;
    padding: 20px 0 20px 0;
    padding-bottom: 0;
    .saved-header {
      font-size: 20px;
      color: white;
      font-weight: 700;
      margin-bottom: 23px;
    }
    svg {
      color: white;
      font-size: 40px;
      cursor: pointer;
    }
    .expert-div {
      margin: 0 9px;
      img {
        border-radius: 20px;
      }
      p {
        color: white;
        font-weight: 500;
        margin: 10px 0;
      }
    }
  }
}

.css-9emuhu-MuiPaper-root-MuiDrawer-paper {
  border-radius: 20px 20px 0 0;
}
.disclaimer-div {
  text-align: center;
  border-radius: 20px;
  .cross-icon {
    margin-top: 20px;
    text-align: end;
    span {
      background: #6f177b;
      padding: 8px 12px;
      border-radius: 50%;
      color: white;
      font-weight: 700;
      display: inline-block;
    }
  }
  .disclaimer {
    color: #6b1576;
    font-weight: 700;
    font-size: 20px;
  }
  img {
    width: 35%;
    margin: auto;
  }
  .disclaimer-points {
    font-size: 14px;
    color: #a863e0;
    margin: 10px 0;
  }
  button {
    background: #6f177b;
    border: none;
    width: 195px;
    padding: 13px 0;
    margin: 20px 0;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
  }
}
