.interview-home-container {
  text-align: center;
  position: relative;
  .interview-container {
    padding: 0 20px;
    .interview-header {
      .jadu-title {
        font-size: 40px;
        font-weight: 700;
        margin: auto;
        margin-bottom: 23px;
        display: flex;
        justify-content: center;
        width: fit-content;
        position: relative;
        .do-span {
          color: #6f177b;
          margin-right: 10px;
        }
        .jadu-span {
          color: #4d4ab3;
        }
        .arrow-right-icon {
          font-size: 61px;
          position: absolute;
          right: -24%;
          top: -20px;
          color: #6f177b;
        }
      }
      .challenges-title {
        color: #6f177d;
        font-weight: 700;
        font-size: 20px;
      }

      .interviews-length {
        margin: 10px 0;

        .interview-span {
          color: #6f177b;
          font-size: 18px;
          font-weight: 500;
          padding: 20px;
        }
        .videos-span {
          color: #4d4ab3;
          font-weight: 500;
          padding-left: 20px;
          border-left: 2px solid #4d4ab3;
        }
      }
    }
    .interview-content {
      div {
        cursor: pointer;
      }
      .show-more {
        svg {
          font-size: 80px;
          color: #6b1576;
        }
      }
      .show-less {
        height: 84px;
        svg {
          font-size: 80px;
          color: #6b1576;
        }
      }
      .interview-div-main {
        margin-bottom: 29px;
        margin-bottom: 29px;
        box-shadow: 1px 1px 8px 4px #80808085;
        border-radius: 20px;
        .interview-header {
          background: #6f177b;
          padding: 10px;
          border-radius: 20px 20px 0 0;
          img {
            border-radius: 20px 0 0 20px;
            height: 148px;
          }
          .header-content {
            .header-title {
              font-size: 22px;
              font-weight: 700;
              color: #ffff;
            }
            .level-div {
              color: #0ecef2;
              font-weight: 600;
              font-size: 18px;
              margin: 20px 0;
              span {
                padding: 0 10px;
              }
              .level {
                border-left: 2px solid;
              }
            }
          }
        }
        .interview-body {
          // padding: 28px;
          background: #ffffff;
          border-radius: 0 0 20px 20px;
          .MuiGrid-item.grid-item:nth-child(odd) {
            background-color: #ececec3d;
            @media screen and (max-width: 898px) {
              background-color: white;
            }
          }
          .interview-div {
            border: 2px solid #6b1576;
            border-radius: 20px;
            width: 95%;
            margin: 25px auto;
            background: white;
            // .MuiGrid-item {
            //   background-color: white;
            // }
            img {
              border-radius: 20px 0 0 20px;
              height: 100px;
              margin-bottom: -5px;
            }
            .video-content {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              .video-title {
                color: #6b1874;
                font-size: 16px;
                font-weight: 600;
              }
              .likes-count {
                color: #fea01a;
                font-weight: 600;
                margin-top: 20px;
              }
            }
          }
        }
      }
      .load-more {
        color: #ff9f1a;
        font-weight: 600;
        cursor: pointer;
        padding: 40px 0 30px 0;
      }
    }
  }
}
