header {
  padding: 10px 80px;
  display: flex;
  align-items: center;
}
header .back-arrow {
  position: absolute;
  left: 15px;
  cursor: pointer;
}
header .back-arrow img {
  width: 40px;
}
header .logo-box {
  width: 80px;
  max-width: 100%;
  margin-top: 15px;
}
header .search-box-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
header .search-box {
  width: 80%;
  margin-left: 10%;
  background: #fff;
  border: 1px solid #ececec;
  padding: 0 10px;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 14px;
  transition: 0.4s all;
}
.right-div {
  display: flex;
  align-items: center;
  justify-content: end;
}

header .right-div .profile-button {
  background-color: #6e297b;
  cursor: pointer;
  z-index: 9;
  color: #fff;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .right-div .drop-down-div {
  position: relative;
}

header .right-div .drop-down-div .menu-container {
  position: absolute;
  background: white;
  padding: 20px;
  width: 104px;
  left: -51px;
  right: 0;
  /* margin-top: 20px; */
  margin: auto;
  margin-top: 12px;
  border-radius: 10px;
  text-align: center;
  z-index: 99999;
  box-shadow: 0px 1px 5px 2px #00000052;
}

header .right-div .drop-down-div .menu-container ul {
  list-style: none;
}

header .right-div .drop-down-div .menu-container ul li {
  color: #6e297b;
  margin: 10px 0;
  border-bottom: 1px solid #6e297b59;
  /* padding: 20px; */
  padding-bottom: 10px;
  cursor: pointer;
}
header .search-box.active {
  width: 55%;
}
header .search-box select {
  background: #fff;
  width: 100%;
  padding: 9px;
  color: #6e297b;
  font-weight: 600;
  border: none;
  text-align: center;
}
header .search-button {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  justify-content: flex-end;
  margin-right: 20px;
}
header .search-button .search-box-input {
  position: absolute;
  right: 10px;
  top: 0;
  display: flex;
  transition: 0;
  align-items: center;
  height: 100%;
  overflow: hidden;
  transition: 0.4s all;
  width: 0;
}
header .search-button .search-box-input.active {
  width: 350px;
}
header .search-button .search-box-input input {
  width: 100%;
  background: #fff;
  border: 1px solid #ececec;
  padding: 10px 15px;
  padding-right: 60px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
header .search-button button {
  background-color: #6e297b;
  cursor: pointer;
  z-index: 9;
  color: #fff;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  header {
    background: transparent;
    padding: 10px 30px;
  }
  header .search-button {
    justify-content: flex-end;
  }
  header .search-box {
    width: 100%;
    margin-left: 10%;
  }
  header .search-box select {
    padding: 5px 0;
  }
  header .search-button button {
    height: 30px;
    width: 30px;
  }

  header .right-div .drop-down-div .profile-button {
    height: 30px;
    width: 30px;
  }

  .dropdown .MuiPaper-root {
    top: 83px;
    left: 1169px;
  }

  .dropdown .MuiPaper-root li {
    color: #6e297b;
    border-bottom: 1px solid #80008042;
    padding: 0 20px;
  }

  header .search-button button svg {
    width: 20px;
  }

  header .search-button .search-box-input input {
    padding: 6px 15px;
  }
  header .back-arrow {
    left: 0;
  }
  header .back-arrow img {
    width: 30px;
  }
  header .search-button .search-box-input.active {
    width: 260px;
  }
  header .search-box.active {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  header .right-div {
    justify-content: flex-start;
  }
}
